

<h2> Overview of all the feedings </h2>

<%# @feedings.each do |f| %>
  <p>type: <%#= f[:type] %></p>
  <p>quantity: <%#= f[:quantity] %></p>
  <p>time_fed: <%#= f[:time_fed] %></p>
<%# end %>

<%= link_to "Back to baby's profil" , root_path %>

<h1>Graph</h1>
 <div class="container">
    <canvas id="myChart" data-bottlefeedingweek="<%= @last7.to_json %>" data-bottlefeedingmonth="<%= @last30.to_json %>" ></canvas>
 </div>
<div class="container">
  <div id="last7" class="btn btn-ghost">Last 7 days</div>
  <div id="last30" class="btn btn-ghost">Last 30 days</div>
</div>

