<div class="back-close-nav">
  <div><img src="<%= image_path('back-arrow.svg') %>" alt="" style="width:20px; margin:15px"></div>
  <div><img src="<%= image_path('close.svg') %>" alt="" style="width:20px; margin:15px"></div>
</div>
<h1>Bottle Feeding</h1>
<img src="<%= image_path('baby-bottle.svg') %>" alt="" style="width:150px">
