<div class="back-close-nav">
 <%= link_to baby_path(@baby) do %>
 <div>
 <img src="<%= image_path('back-arrow.svg') %>" alt=""></div>
</div>
<% end %>

<h1>Bottle Feeding</h1>

<img src="<%= image_path('baby-bottle.svg') %>" alt="" style="height:160px; display: block; margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 25px">

<h2 id="quantity" style="padding: 10px;">0</h2>

<div class="time-selector">
  <div class="button-blue-small" id="tenml">+10ml</div>
  <div class="button-blue-small" id="twentyml">+20ml</div>
  <div class="button-blue-small" id="fiftyml">+50ml</div>
  <div class="button-blue-small" id="hundredml">+100ml</div>
</div>

<div style="display: flex; justify-content: center; flex-wrap: wrap; margin: 0">
  <form class="simple_form new_bottle_feeding" id="new_bottle_feeding" novalidate="novalidate" action="/babies/<%= @baby.id %>/bottle_feedings" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="authenticity_token" value="2vpFimDA+4doCCTKzTwpggdmWE4snzWZe3MnjCpNdAsm+Rgry0W2BndxlsZg2OybKY9N5kOb+VatuWFdmV5hfQ==" />
    <div class="form-group hidden bottle_feeding_duration_minutes">
      <input class="form-control hidden" type="hidden" name="bottle_feeding[quantity]" id="bottle_feeding_quantity" />
    </div>
    <input type="submit" name="commit" value="New entry" class="button-blue-large" data-disable-with="New entry" style="margin-bottom: 0;" />
  </form>

  <div style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 10px">
  <%#= link_to "Accept", baby_bottle_feedings_path(@baby, quantityFeeded: 0), method: :post, class: "button-blue-large", id: "acceptBtn" %>
  <div class="button-red-large" id="cancelBtn" style="margin-top: 0;">Cancel</div>
</div>

<script>

  const displayedQuantity = document.getElementById("quantity");
  const acceptBtn = document.getElementById("acceptBtn");
  const cancelBtn = document.getElementById("cancelBtn");

  document.getElementById("tenml").addEventListener("click", () => {addMinutes(10)});
  document.getElementById("twentyml").addEventListener("click", () => {addMinutes(20)});
  document.getElementById("fiftyml").addEventListener("click", () => {addMinutes(50)});
  document.getElementById("hundredml").addEventListener("click", () => {addMinutes(100)});
  document.getElementById("cancelBtn").addEventListener("click", () => {resetMinutes()});

  function addMinutes(quantityToAdd) {
    const actualQuantity = Number(displayedQuantity.innerText)
    const newQuantity = actualQuantity + quantityToAdd;
    displayedQuantity.innerHTML =  newQuantity;
    // query select hidden form for bottle feedings
    const newData = document.getElementById("bottle_feeding_quantity");
    console.log(newData);
    // set the value of the query selected variable of the form above to the new value `newQuantity`
    newData.value = newQuantity;

    //acceptBtn.href = "/babies/1/bottle_feedings?quantityFeeded=" + newQuantity;
  }

  function resetMinutes() {
    displayedQuantity.innerHTML =  0;
  }

</script>
