<h1>BadgeOwnerships#show</h1>


<!-- INSTAGRAM Button trigger modal -->
<i  data-toggle="modal" data-target="#exampleModal" class="fab fa-instagram" style='font-size: 35px'></i>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1> <img src="<%= image_path('silver_nipple.svg') %>" alt=""> </h1>
      </div>
      <div class="modal-body">
      <input type="text" placeholder="Send a message!">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Share!</button>
      </div>
    </div>
  </div>
</div>


<!-- FACEBOOK Button trigger modal -->
<i  data-toggle="modal" data-target="#exampleModal" class="fab fa-facebook" style='font-size: 35px'></i>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <input type="text" placeholder="Send a message!">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Share!</button>
      </div>
    </div>
  </div>
</div>

<!-- TWITTER Button trigger modal -->
<i  data-toggle="modal" data-target="#exampleModal" class="fab fa-twitter" style='font-size: 35px'></i>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <input type="text" placeholder="Send a message!">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Share!</button>
      </div>
    </div>
  </div>
</div>
