<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="button-blue-large">Text</div>
<div class="button-blue-small">Text</div>
<div class="button-yellow-small">Text</div>
<div class="button-red-small">Text</div>
<div class="textfield-rounded">Textfield</div>

<h3>Switch toggle</h3>
<div>
  <label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider"></span>
  </label><br><br>

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>

  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
</div>
