.badge-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.badge-element {
  vertical-align: center;
  width: 140px;
  height: 110px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 5px;
  margin-bottom: 20px;
}

.badge-element img{
  height: 60px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.badge-element h2{
  font-size: 16px;
  font-weight: bold;
  color: #717171;

}

.badge-element p{
  font-size: 14px;
  font-weight: normal;
  color: #717171;

}
