.category-card{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background-color: #E5E5E5;
  border-radius: 10px;
}

.category-card img{
  height: 50px;
}
