.log-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.log-row p{
  text-align: left;
  padding-top: 20px;
}

.log-row-comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
