.down-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.down-arrow img{
  width: 30px;
}

.back-close-nav{
  display: flex;
  justify-content: space-between;
  width:30px;
  margin:25px
}
