p {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #717171;
  text-align: center;
}

a {
  font-size: 14px;
  text-decoration: underline;
  color: #717171;
}
